*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
#app{
    background-color: #333;
}
.f100{
    width: 100%;
    height: 100%;
}
.text-white{
    color: #fff;
}
.fl,.flex{ display: -webkit-flex;display: flex; }
.fl-start{ justify-content: flex-start; }
.fl-end{ justify-content: flex-end; }
.fl-center{ justify-content: center; }
.fl-around{ justify-content: space-around; }
.fl-between{ justify-content: space-between; }
.fl-items-center{align-items: center;}
.fl-wrap{flex-wrap: wrap;}
.fl-nowrap{flex-wrap: nowrap;}
.fl1{ flex: 1; }
.fl2{ flex: 2; }
.fl3{ flex: 3; }
.fl4{ flex: 4; }
.fl5{ flex: 5; }
.fl6{ flex: 6; }
.fl7{ flex: 7; }
.fl8{ flex: 8; }
.fl9{ flex: 9; }
.fl10{ flex: 10; }
.fl11{ flex: 11; }
.fl12{ flex: 12; }
.no-fl .fl:after,
.no-fl .fl:before{content:" ";display:table}
.no-fl .fl:after{clear: both;}
.no-fl .fl-item{ float: left; }
.no-fl .fl1{width: 8.333%;}
.no-fl .fl2{ width: 16.666%; }
.no-fl .fl3{ width: 25%; }
.no-fl .fl4{ width: 33.333%; }
.no-fl .fl5{ width: 41.666%; }
.no-fl .fl6{ width: 50%; }
.no-fl .fl7{ width: 58.333%; }
.no-fl .fl8{ width: 66.666%; }
.no-fl .fl9{ width: 75%; }
.no-fl .fl10{ width: 83.333%; }
.no-fl .fl11{ width: 91.666%; }
.no-fl .fl12{ width: 100%; }
.fl-top-space{ padding-top: 15px; }
.fl-right-space{ padding-right: 15px; }
.fl-bottom-space{ padding-bottom: 15px; }
.fl-left-space{ padding-left: 15px; }
