*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
#app{
  background-color: #333;
}
.f100{
  width: 100%;
  height: 100%;
}
.text-white{
  color: #fff;
}
@font-face {
  font-family: "iconfont";
  src: url('/static/fonts/iconfont.eot?t=1529395113859'); /* IE9*/
  src: url('/static/fonts/iconfont.eot?t=1529395113859#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/static/fonts/iconfont.woff?t=1529395113859') format('woff'),
  url('/static/fonts/iconfont.ttf?t=1529395113859') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/static/fonts/iconfont.svg?t=1529395113859#iconfont') format('svg'); /* iOS 4.1- */
}
i,.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: baseline;
}
.icon-close:before{
  content: "\e86e";
}
.icon-file:before{
  content: "\e600";
}
.fl,.flex{ display: -webkit-flex;display: flex; }
.fl-start{ justify-content: flex-start; }
.fl-end{ justify-content: flex-end; }
.fl-center{ justify-content: center; }
.fl-around{ justify-content: space-around; }
.fl-between{ justify-content: space-between; }
.fl-items-center{align-items: center;}
.fl-wrap{flex-wrap: wrap;}
.fl-nowrap{flex-wrap: nowrap;}
.fl1{ flex: 1; }
.fl2{ flex: 2; }
.fl3{ flex: 3; }
.fl4{ flex: 4; }
.fl5{ flex: 5; }
.fl6{ flex: 6; }
.fl7{ flex: 7; }
.fl8{ flex: 8; }
.fl9{ flex: 9; }
.fl10{ flex: 10; }
.fl11{ flex: 11; }
.fl12{ flex: 12; }
.no-fl .fl:after,
.no-fl .fl:before{content:" ";display:table}
.no-fl .fl:after{clear: both;}
.no-fl .fl-item{ float: left; }
.no-fl .fl1{width: 8.333%;}
.no-fl .fl2{ width: 16.666%; }
.no-fl .fl3{ width: 25%; }
.no-fl .fl4{ width: 33.333%; }
.no-fl .fl5{ width: 41.666%; }
.no-fl .fl6{ width: 50%; }
.no-fl .fl7{ width: 58.333%; }
.no-fl .fl8{ width: 66.666%; }
.no-fl .fl9{ width: 75%; }
.no-fl .fl10{ width: 83.333%; }
.no-fl .fl11{ width: 91.666%; }
.no-fl .fl12{ width: 100%; }
.fl-top-space{ padding-top: 15px; }
.fl-right-space{ padding-right: 15px; }
.fl-bottom-space{ padding-bottom: 15px; }
.fl-left-space{ padding-left: 15px; }

.scroll{
  overflow-x: auto;
  overflow-y: auto;
}
.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scroll::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, .3);
  border-radius: 4px;
}

.CodeMirror-hscrollbar::-webkit-scrollbar,
.CodeMirror-vscrollbar::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
.CodeMirror-hscrollbar::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb{
  background: rgba(255, 255, 255, .3);
  border-radius: 4px;
}
.CodeMirror-scrollbar-filler{
  display: none!important;
}
.scroll::-webkit-scrollbar-corner,
.CodeMirror-hscrollbar::-webkit-scrollbar-corner,
.CodeMirror-vscrollbar::-webkit-scrollbar-corner{
  display: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}